ul {
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

ul>li {
    background-color: #F4F5F7;
    height: 60px;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}